.odd {
    background-color: rgb(210, 130, 150);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

.big {
    font-size: 24px;
}

#four {
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(122, 219, 161);
}